[Desktop Entry]
Type=Application
Name=Slack
Comment=Start Slack when you sign in
Exec=/usr/bin/slack --disable-gpu-compositing --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --enable-features=WebRTCPipeWireCapturer --enable-features=WaylandWindowDecorations --disable-features=WaylandFractionalScaleV1 -s
Icon=slack
StartupWMClass=Slack
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
