[Unit]
Description=Run Jobhunter discovery periodically

[Timer]
OnCalendar=hourly
Persistent=true
Unit=jobhunter-scheduler.service

[Install]
WantedBy=timers.target
